@import url("/css/reset.css");
@import url("/css/currentWeather.css");
@import url('/css/threeHour.css');
@import url('/css/fivedays.css');

html {
  width: 100%;
  height:100%;
}
body {
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
  color: #333;
  margin: 1.5rem;
  padding: 0;
  background: linear-gradient(#4C68A5, #887FA4, #C7A4A7);
  background-repeat: no-repeat;
  background-attachment: fixed;
}
section {
  margin: 2rem 0;
}
h1 {
  font-size: 1.6rem;
  margin: 0;
}

.search {
  margin: 0.8rem 0;
  display: flex;
  justify-content: space-between;
}
#favorites-select {
  width: 200px;
  height: 30px;
  background-color: rgba(241, 232, 232,0.8);
  border-radius: 0.5rem;
  outline: none;
}

#city-input {
  width: 200px;
  height: 24px;
  background-color: rgba(241, 232, 232,0.8);
  border-radius: 0.5rem;
  border: none;
  outline: none;
}

#loader {
  border: 16px solid #f3f3f3;
  border-top: 16px solid #52de85;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  animation: spin 2s linear infinite;
  position: absolute;
  top: 14%;
  left: calc(50% - 30px);
  transform: translateY(-50%);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
